/**
 * Color Pallete
 * gray: #f0f7ff;
 * green: #15c26b;
 * blue: #02b3e4;
 * black: #525c65;
 * yellow: #FFEB3B;
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #525c65;
  font-weight: 300;
  line-height: 32px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.tengah
{
	text-align: center;
	 color: #525c65;
}
/*Start Header*/
.header {
  background: transparent;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
}

.hero-lead-wrapper {
  padding: 160px 0;
}

.brand {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.main-nav {
  padding: 20px 0;
  overflow: hidden;
}

.main-nav__brand {
  float: left;
}

.main-nav__menu {
  float: right;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.main-nav__menu > li {
  display: inline-block;
}

.main-nav__menu > li > a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
  padding: 0 8px;
}

/*ends of header*/


/*start hero*/
#hero {
  margin-bottom: 20px;
  padding: 80px 0;
}

#hero .hero-bg {
  width: 100%;
  height: 620px;
  background: #ffcf4e;
  background: linear-gradient(90deg, #FFEB3B, #FFBA00);
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left bottom;
  transform: skew(0deg, -13deg);
  overflow: hidden;
  z-index: -100;
}
.hero-header {
  color: #000;
  text-align: center;
}

.hero-description {
  text-align: center;
}


/*end hero*/

.clearfix {
  display: table;
  content: '';
  clear: both;
}

.kolom {
  width: 390px;
  float: left;
   padding: 0 30px;
}

/*stack images*/
.stacked-images {
  position: relative;
}

.stacked-images-1 {
  width: 320px;
  height: 220px;
  box-shadow: 5px 5px 25px rgba(46, 61, 73, 0.15);
}

.stacked-images-2 {
  position: absolute;
  top: 136px;
  right: 0;
  width: 320px;
  height: 136px;
  z-index: 100;
  box-shadow: 5px 5px 25px rgba(46, 61, 73, 0.15);
}

/*ends stack*/


#why-are-we-exists, #our-program,
#volunteers, #join-us, #community {
  padding: 120px 0;
}
.section-header {
  color: #15c26b;
  font-weight: 300;
  letter-spacing: 2px;
}
.section-header--center {
  text-align: center;
}

.section-header--white {
  color: #fff;
}

/*program*/
#our-program {
  background-color: #f0f7ff;
}
.programs-wrapper {
  margin-top: 40px;
}

.program-card {
  background-color: #fff;
  box-shadow: 5px 5px 25px rgba(46, 61, 73, 0.15);
  border-radius: 8px;
}

.program-card__title {
  font-weight: 300;
  color: #000;
}

.program-card__detail {
  padding: 30px;
}

.program-card__image-wrapper {
  position: relative;
}

.program-card__image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.program-card__image-overlay--blue {
  background-color: rgba(2,179,228,0.8);
}

.program-card__image-overlay--green {
  background-color: rgba(2,204,186,0.8);
}

.program-card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
}

.program-card__skill-list {
  list-style: none;
  padding-left: 0;
}
/*ends program*/

#community {
  background: url(images/community.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

#community .overlay {
  background: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.action-wrapper {
  text-align: center;
  padding: 20px;
}



.container {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

/* Button */
.btn {
  padding: 10px 14px;
  border-radius: 10px;
  background-color: #fff;
  display: inline-block;
  box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
  transition: all 300ms ease;
}

.btn, .btn:hover, .btn:active, .btn:focus {
  text-decoration: none;
}

.btn:hover {
  box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
  color:#96a4b7;
}

.btn--primary {
  background-color: #FFEB3B;
  color: #000;
  transition: all 300ms ease;
}



/*volunteers*/
.volunteers-wrapper::after {
  content: '';
  display: table;
  clear: both;
}

.volunteer-card {
  float: left;
  width: 250px;
  text-align: center;
  padding: 20px;
  margin: 10px 5px 20px;
  transition: all 300ms ease;
  border-radius: 8px;
}

.volunteer-card:hover {
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.15);
  transform: scale(1.02);
}

.volunteer-card__title {
  margin-top: 25px;
  font-weight: 300;
  color: #000;
}

.volunteer-card__photo {
  border-radius: 100%;
  height: 120px;
  width: 120px;
}

.people-wrapper::after {
  content: '';
  display: table;
  clear: both;
  margin-top: 30px;
}

.people-wrapper:first-child {
  margin-top: 0px;
}

.person-card {
  padding: 20px;
  margin: 10px 5px 20px;
  float: left;
  width: 250px;
  text-align: center;
  transition: all 300ms ease;
  border-radius: 8px;
}

.person-card:hover {
  background: #fff;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.25);
  transform: scale(1.02);
  border-radius: 10%;
}


.person-card__title {
  margin-top: 25px;
  font-weight: 300;
  color: #000;
}

.person-card__photo {
  border-radius: 100%;
  height: 120px;
  width: 120px;
}
/* Join Us*/
#join-us {
  background: linear-gradient(90deg, #FFEB3B 70%, #FFBA00);
}

.join-us-content {
  background: #fff;
  border-radius: 12px;
  padding: 40px 80px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, .16);
}


/* Community */

.community-content {
  z-index: 100;
}

.community-content p {
  color: #fff;
}

/* Footer */

.footer {
  background: #3D3D3D;
  padding: 60px 0;
}

.footer__contribution {
  text-align: center;
  color: #fff;
}

.footer__love {
  color: #F44336;
}

#banner, #alumni, #schedule {
  padding: 80px 0;
}

#banner {
  position: relative;
  margin-top: 72px;
}

#banner .banner-content {
  color: #fff;
}
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, .5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.banner-background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
/*jadwal*/
#schedule {
  background-color: #fff;
}
.schedule-week {
  margin-top: 30px;
}

.schedule-week:first-child {
  margin-top: 0px;
}

.schedule-week__week {
  font-size: 20px;
}
/*table*/
.table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
}

.table > thead > tr > th {
  border-bottom: 2px solid #eaeaea;
  padding: 8px;
}

.table > tbody > tr > td {
  padding: 8px;
  border-bottom: 1px solid #eaeaea;

}
/*tbody:nth-child(1) {
  background: #4f5154;
}
tbody:hover td[rowspan],tr:hover td {
   background: #4f5154; 
   color:#fff;
}*/

